# Packer variables with credentials
variables.auto.pkrvars.hcl
*.auto.pkrvars.hcl

# Packer cached plugins
.packer.d/
packer_cache/

# Packer manifests
packer-manifest.json

# Ansible retry files
*.retry

# Log files
*.log
